# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.keystore
*.jks
app/build/

# iOS
.bundle/
Pods/
DerivedData/
*.xcworkspace
*.xcscheme

# Firebase
google-services.json
GoogleService-Info.plist

# Web/Node
node_modules/
dist/
.env
.env.local
